/******************* GENERAL *******************/
.app {
    background-color: #EDEFF5;
    
}

/**********************************************************/

/******************* SEARCH BAR *******************/
.search-input {
    width: 60%;
    margin: 0 20%;
    height: 50px;
    border: none;
    border-radius: 5px;
}

/**********************************************************/

/******************* MODAL *******************/
#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-details-modal {
    position: absolute;
    background-color: white;
    height: 70%;
    width: 90%;
    border-radius: 10px;
    display: block;
    overflow-y: scroll;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  
.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/**********************************************************/


