/******************* GENERAL *******************/
body {
    /* background-color: #F9F9F9; */
    background-color: rgb(241, 241, 241);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/**********************************************************/

/******************* NAV BAR *******************/
nav {
    height: 70px;
    background-color: #34495e;
}

.nav-brand {
    float: left;
    color: white;
}

.nav-login {
    float: right;
}

.nav-loggedIn {
    float: right;
}

/**********************************************************/

/******************* SEARCH BAR *******************/
.search__input {
    width: 60%;
    margin: 0 20%;
    height: 50px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    background: white url(../images/search.svg) no-repeat scroll 10px 13px;
    padding-left: 50px; 
    font-size: 18px;
    outline: none;
    box-shadow: 0px 2px 0px 0px #ccc;
}

.search__input::placeholder {
    color: #BFBFBF;
}

/**********************************************************/


/******************* RECENTS PAGE *******************/
.recents-page__header {
    margin-left: 30px;
    color: #3E414C;
}

/**********************************************************/

/******************* MOVIE TABLE *******************/
li {
    display: inline-block;
    padding-left: 20px;
}

/**********************************************************/


/******************* MOVIE CARD *******************/
.movie {
    background-color: white;
    width: 200px;
    height: 380px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.movie__favorite-button {
    width: 15px;
    height: 15px;
    padding-top: 10px;
    padding-left: 88%;
    display: block;
}

.movie__image {
    width: 95%;
    height: 220px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.movie__title-container {
    width: 90%;
}

.movie__title {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 600;
    color: #393939;
    display: block;
}

.movie__description-container {
    width: 90%
}

.movie__description {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; 
    line-height: 13px;        
    max-height: 13px * 2;       
}

.movie__favorited-by {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 13px;
    color: #858585;
}

.movie__description--link {
    text-decoration: none;
}

/**********************************************************/


/******************* MODAL *******************/
#modal-root {
    position: relative;
    z-index: 999;
}

.modal {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.movie-details-modal__container {
    position: absolute;
    background-color: white;
    height: 80%;
    width: 60%;
    border-radius: 10px;
    display: block;
    overflow-y: scroll;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  
.close:hover {
    opacity: 1;
}

.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 28px;
    width: 2px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.movie-details__image {
    width: 60%;
    height: 70%;
}

.movie-details__info-container {
    position: relative;
    top: 60px;
    width: 40%;
    float: right;
}

.movie-details__title {
    font-size: 24px; 
    padding-left: 10px;
    color: #393939;
    display: block;
    padding-top: 0;
    margin-top: 0;
}

.movie-details__description {
    padding-left: 10px;
}

.movie-details__description--overflow {
    padding-left: 10px;
    overflow: scroll;
}

.movie-details__more-btn {
    padding-left: 45%;
}

.movie-details__opinion-header {
    font-size: 16px; 
    padding-top: 10px;
    padding-left: 10px;
    color: #393939;
    display: block;
}

.movie-details__opinion {
    padding-top: 0;
    margin-top: 0;
    padding-left: 10px;
}

/**********************************************************/


